page-login {

  .bg-login {
    background: url("../assets/img/banner.jpg") no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;

      .auth-content {
        display:block;
        width: 90%;
        height: 950%;
        margin: 30px auto;
        align-items: center;
        justify-content: center;
        min-width: 80%;

        .btn-dado {
          background: color($colors, dado);
          border-radius: 45%;
        }
      
        .light-bg {
          // keep only bottom border
          .item-input {
            margin: 0;
            padding-left: 0;
            border: none;
            border-bottom: 1px solid #DDD;

            .item-inner {
              border: none;
            }
          }
        }
      }
    }
}
