
page-tracking,
.tracking {
  #map{
    width:100%;
  }

  #markerLayer img {
    animation: pulse .5s infinite alternate;
    -webkit-animation: pulse .5s infinite alternate;
    transform-origin: center;
    -webkit-transform-origin: center;
  }

  .tracking-info {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;

    .item-block {

      &:first-child {
        border-bottom: 1px solid color($colors, border-color);
      }

      .item-inner {
        border: none;
      }
    }

    img.icon {
      left: 5px;
      margin-top: 5px;
      width: 54px;
      height: 54px;
    }

    .item-content {
      position: relative;
      padding-right: 80px;

      .action-icons {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2em;
      }
    }
  }
}